* {
  margin: 0;
  padding: 0;
}

body {
    padding: 0;
    background-color: rgb(38, 37, 59);
    overflow: hidden;
}
  
#navcon {
  width: 100%;
  height: 50px;
  text-align: center;
}

.nav {
  width: 100px;
  height: 30px;
  color: darkgrey;
  background-color: transparent;
  position: relative;
  top: 10px;
  border: none;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  user-select: none;
}

#pfp {
  width: 200px;
  height: 200px;
  border: 3px rgb(115, 173, 255) solid;
  border-radius: 200px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

#name {
  color: rgb(115, 173, 255);
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.quote {
  font-size: 30px;
  font-style: italic;
  color: rgb(115, 173, 255);
}

#quote {
  font-size: 150px;
  color: rgb(72, 70, 104);
  top: 50%;
  position: absolute;
}

#q1 {
  top: 62%;
}

#q2 {
  top: 70%;
}

#q3 {
  top: 78%;
}

.centerh {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.p {
  top: 120px;
  color: darkgrey;
  position: relative;
  text-align: center;
  margin-top: 20px;
  user-select: none;
}

#wai {
  top: 100px;
  user-select: none;
  color: rgb(115, 173, 255);
}

#dcn {
  color: rgb(115, 173, 255);
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 30px;
}

#ghn {
  color: rgb(115, 173, 255);
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 30px;
}

.selected {
  color: rgb(115, 173, 255);
}

.shape {
  z-index: -1;
}

#shape1 {
  background-color: transparent;
}

#shape2 {
  background-color: transparent;
}

#shape3 {
  background-color: transparent;
}

.project {
  width: 100%;
  height: 75px;
  display: grid;
  place-items: center;
}

.projectlink {
  color: rgb(115, 173, 255);
  font-size: 30px;
  text-decoration: underline;
}
