#thumbnail {
    background-image: url("https://pub-static.fotor.com/assets/bg/247d99f6-6217-4573-8ade-ce8043170fcd.jpg");
}

#c1 {
    width: 95%;
    height: 200px;
    background-color: rgb(93, 93, 93);
    top: 100px;
    position: relative;
    border-radius: 10px;
}

#h1 {
    top: 60px;
}

#p1 {
    top: 40px;
}

#img1 {
    width: 200px;
    height: 200px;
    float: center;
    margin-right: 5px;
}

#img2 {
    width: 300px;
    height: 300px;
    float: center;
    margin-right: 5px;
}

#con1 {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cb1 {
    width: 1300px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#e1 {
    width: 500px;
    height: 150px;
    top: 15px;
    position: absolute;
}

#e2 {
    width: 500px;
    height: 150px;
}

#hw {
    width: 400px;
    position: absolute;
    bottom: 0px;
}

#text1 {
    color: rgb(127, 22, 212);
}

#con2 {
    background-color: rgb(59, 29, 42);
    width: 600px;
    height: 350px;
    position: relative;
    border-radius: 6px;
}

.brah {
    width: 200px;
}

.brah2 {
    width: 100px;
}
